In [1]:
import pandas as pd
import pymysql
import sqlalchemy
from sqlalchemy import create_engine
import matplotlib.pyplot as plt

In [8]:
engine = create_engine('sqlite:///cubic_perovskites.db')
with engine.connect() as conn, conn.begin():
    keyvalues = pd.read_sql_table('number_key_values', conn)
    textvalues = pd.read_sql_table('text_key_values', conn)
    keys = pd.read_sql_table('keys', conn)
    systems = pd.read_sql_table('systems',conn)

In [5]:
keyvalues.set_index('id',inplace=True)
textvalues.set_index('id',inplace=True)

In [6]:
CB_ind = keyvalues[(keyvalues.key=='CB_ind')]
gllbsc_ind_gap = keyvalues[(keyvalues.key=='gllbsc_ind_gap')]
CB_dir = keyvalues[(keyvalues.key=='CB_dir')]
VB_dir = keyvalues[(keyvalues.key=='VB_dir')]
VB_ind = keyvalues[(keyvalues.key=='VB_ind')]
gllbsc_dir_gap = keyvalues[(keyvalues.key=='gllbsc_dir_gap')]
heat_of_formation = keyvalues[(keyvalues.key=='heat_of_formation')]
standard_energy = keyvalues[(keyvalues.key=='standard_energy')]

In [7]:
A_ion = textvalues[(textvalues.key=='A_ion')]
B_ion = textvalues[(textvalues.key=='B_ion')]
anion = textvalues[(textvalues.key=='anion')]

In [18]:
volume = pd.DataFrame({'id': systems.id, 'volume':systems.volume})
mass = pd.DataFrame({'id': systems.id, 'mass':systems.mass})

In [20]:
volume.set_index('id',inplace=True)
mass.set_index('id',inplace=True)

In [71]:
electroneg = pd.read_csv('electronegativity.csv')
electroneg.columns = ['value', 'electronegativity']

In [77]:
electroneg.head()

  value  electronegativity
0    He               0.00
1    Li               0.98
2    Be               1.57
3     B               2.04
4     C               2.55

In [75]:
A_electroneg=pd.merge(A_ion,electroneg,how='left',on='value')
B_electroneg=pd.merge(B_ion,electroneg,how='left',on='value')

In [78]:
B_electroneg.head()

     key value  electronegativity
0  B_ion    As               2.18
1  B_ion    Sb               2.05
2  B_ion    Nb               1.60
3  B_ion    Sb               2.05
4  B_ion    Ag               1.93

In [81]:
anion.groupby('value').count()

        key
value
N3     2704
O2F    2704
O2N    2704
O2S    2704
O3     2704
OFN    2704
ON2    2704

In [83]:
textvalues

               key              value     id
0          project  cubic_perovskites      1
1            A_ion                 Ti      1
2            anion                O2N      1
3      combination              ABO2N      1
4            B_ion                 As      1
5          project  cubic_perovskites      2
6            A_ion                  K      2
7            anion                O2N      2
8      combination              ABO2N      2
9            B_ion                 Sb      2
10         project  cubic_perovskites      3
11           A_ion                 Hg      3
12           anion                O2N      3
13     combination              ABO2N      3
14           B_ion                 Nb      3
15         project  cubic_perovskites      4
16           A_ion                 Bi      4
17           anion                O2N      4
18     combination              ABO2N      4
19           B_ion                 Sb      4
20         project  cubic_perovskites      5
21           A_ion                 Na      5
22           anion                O2N      5
23     combination              ABO2N      5
24           B_ion                 Ag      5
25         project  cubic_perovskites      6
26           A_ion                 Be      6
27           anion                O2N      6
28     combination              ABO2N      6
29           B_ion                 Cs      6
...            ...                ...    ...
95488      project  cubic_perovskites  19357
95489    reference               pool  19357
95490      project  cubic_perovskites  19358
95491    reference               pool  19358
95492      project  cubic_perovskites  19359
95493    reference               pool  19359
95494      project  cubic_perovskites  19360
95495    reference               pool  19360
95496      project  cubic_perovskites  19361
95497    reference               pool  19361
95498      project  cubic_perovskites  19362
95499    reference               pool  19362
95500      project  cubic_perovskites  19363
95501    reference               pool  19363
95502      project  cubic_perovskites  19364
95503    reference               pool  19364
95504      project  cubic_perovskites  19365
95505    reference               pool  19365
95506      project  cubic_perovskites  19366
95507    reference               pool  19366
95508      project  cubic_perovskites  19367
95509    reference               pool  19367
95510      project  cubic_perovskites  19368
95511    reference           standard  19368
95512      project  cubic_perovskites  19369
95513    reference           standard  19369
95514    reference           standard  19370
95515    reference           standard  19372
95516    reference           standard  19371
95517    reference           standard  19373

[95518 rows x 3 columns]